<nav class="navbar-side" role="navigation">
	<div class="navbar-collapse sidebar-collapse collapse">
		<ul id="side" class="nav navbar-nav side-nav">
			<!-- begin SIDE NAV USER PANEL -->
			<li class="side-user hidden-xs">
				<img class="img-circle" src="img/profile-pic.jpg" alt="">
				<p class="welcome">
					<i class="fa fa-key"></i> Logged in as
				</p>
				<p class="name tooltip-sidebar-logout">
					Kristof
					<span class="last-name">Verschaetse</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
				</p>
				<div class="clearfix"></div>
			</li>
			<!-- end SIDE NAV USER PANEL -->
			<!-- begin SIDE NAV SEARCH -->
			<li class="nav-search">
				<form role="form">
					<input type="search" class="form-control" placeholder="Search...">
					<button class="btn">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>
			<!-- end SIDE NAV SEARCH -->
			<!-- begin DASHBOARD LINK -->
			<li>
				<a class="active" href="admin-v1.2.2/index.html">
					<i class="fa fa-dashboard"></i> Flex Admin Demo
				</a>
			</li>
			<!-- end DASHBOARD LINK -->
			<!-- begin CALENDAR LINK -->
			<li>
				<a href="admin-v1.2.2/calendar.html">
					<i class="fa fa-calendar"></i> Calendar
				</a>
			</li>
			<!-- end CALENDAR LINK -->
			<!-- begin TABLES DROPDOWN -->
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#tables">
					<i class="fa fa-table"></i> Overzichten <i class="fa fa-caret-down"></i>
				</a>
				<ul class="collapse nav" id="tables">
					<li>
						<a href="admin-v1.2.2/basic-tables.html">
							<i class="fa fa-angle-double-right"></i> per eeuw
						</a>
					</li>
					<li>
						<a href="admin-v1.2.2/advanced-tables.html">
							<i class="fa fa-angle-double-right"></i> per streek
						</a>
					</li>
				</ul>
			</li>
			<!-- end TABLES DROPDOWN -->
		</ul>
		<!-- /.side-nav -->
	</div>
	<!-- /.navbar-collapse -->
	</nav>
	<!-- /.navbar-side -->