<div id="wrapper">

<!-- begin TOP NAVIGATION -->
<%- partial('topnav') %>
<!-- end TOP NAVIGATION -->

<!-- begin SIDE NAVIGATION -->
<%- partial('sidenav') %>
<!-- end SIDE NAVIGATION -->
	
<!-- begin MAIN PAGE CONTENT -->
 <%- partial('indexmain') %>
<!-- end MAIN PAGE CONTENT -->
		
</div>
<!-- /#wrapper -->		
